body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#menu-outer {
  height: 50px;
  /* background: url(images/bar-bg.jpg) repeat-x; */
}

.table {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
  color: white;
}

ul {
  list-style: none;
}

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 11px;
}
ul#horizontal-list li {
  display: inline-flex;
  width: 19%;
  align-self: center;
  padding: 10px 10px 0px 10px;
  border: 1px solid black;
  border-radius: 15px 15px 0px 0px;
  margin-left: 10px;
  background-color: brown;
}

ul#horizontal-list li:hover {
  background-color: antiquewhite;
}

ul#horizontal-list li:link {
  background-color: antiquewhite;
}

a:link {
  text-decoration: none;
}

a.mainNavLink {
  color: white;
  margin: auto;
  text-decoration: none;
}

a.mainNavLink:hover {
  color: brown;
  text-decoration: none;
}

.gameButton {
  background-color: chocolate;
  padding: 25px;
  margin: 25px;
  font-size: 2em;
}

.GameButton:hover {
  background-color: royalblue;
}

.GameButton:focus {
  border: 10px double black;
}

.ShoppingListTable {
  margin: 5px 5px 5px 50px;
  width: 90%;
  border: 3px solid grey;
}

th {
  width: 25%;
  border: 3px solid palegoldenrod;
}

td {
  background-color: whitesmoke;
  width: 40%;
  border: 1px solid gray;
}

button.btn.btn-outline-primary {
  margin: 5px;
  background-color: skyblue;
  border-radius: 10px;
}

.ShoppingListInput {
  margin: 10px;
  padding: 5px;
  width: 25%;
}

button.btn.btn-danger.btn-lg {
  border-radius: 10px;
  margin-top: 10px;
}

.ShoppingListHeader {
  background-image: url(images/Local-Grocery-Delivery-Options-in-Halifax.jpg);
  height: 50px;
  color: saddlebrown;
}

.CountryTitle {
  text-align: center;
  background-color: lightcoral;
}

.HeaderTitle {
  text-align: center;
  background-color: antiquewhite;
  background-image: url(images/bookListBanner.jpg);
}

h1.Title {
  margin-bottom: 0px;
  color: "white";
}

.SearchBar {
  text-align: center;
  margin-top: 5px;
}

input[type="submit"] {
  margin-left: 5px;
}

.bookList {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: center;
}

.bookListButton {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  display: flex;
}

.bookListButton:hover {
  background: lightblue;
}

.bookListItem {
  padding: 5px;
  margin: 5px;
  list-style: none;
  width: 250px;
}

.LoadingSpinner {
  margin: auto;
  margin-top: 10%;
  width: 100px;
  height: 100px;
  align-self: center;
}

.LoadingSpinnerText {
  color: black;
  display: block;
  float: left;
  font-size: large;
  font-weight: 700;
  margin-left: 50px;
}

h3.ErrorMessage {
  text-align: center;
  margin-top: 5%;
}

.pageViewContainer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

button.btn.btn-secondary {
  margin-top: 5px;
}
